<!-- <p>{{ formGroup.value.name }}</p>
<p>{{ formGroup.value.age }}</p>
<p>{{ formGroup.value.city }}</p> -->

<form class="container" [formGroup]="formGroup">
    <div class="input-group">
        <div class="input-input">

            <!-- NAME -->
            @if (formGroup.get('name').hasError('required') && formGroup.get('name').touched) {
                <div class="error">
                    <div class="line"></div>
                    <p class="alert">O campo Nome é obrigatório!</p>
                </div>
            }

            @if (formGroup.get('name').hasError('minlength') && formGroup.get('name').touched) {
                <div class="error">
                    <div class="line"></div>
                    <p class="alert">O campo Nome precisa conter pelo menos 3 caracteres</p>
                </div>
            }
            <input type="text" formControlName="name" placeholder="Nome" class="form-control">

            <!-- IDADE -->
            @if (formGroup.get('age').hasError('required') && formGroup.get('age').touched) {
                <div class="error">
                    <div class="line"></div>
                    <p class="alert">O campo Idade é obrigatório!</p>
                </div>
            }

            @if (formGroup.get('age').hasError('min') && formGroup.get('age').touched) {
                <div class="error">
                    <div class="line"></div>
                    <p class="alert">O campo Idade não aceita números inferiores a 0</p>
                </div>
            }

            @if (formGroup.get('age').hasError('max') && formGroup.get('age').touched) {
                <div class="error">
                    <div class="line"></div>
                    <p class="alert">O campo Idade não aceita números maiores que 120</p>
                </div>
            }
            <input type="number" formControlName="age" placeholder="idade" class="form-control">

            <!-- CIDADE -->
            @if (formGroup.get('city').hasError('required') && formGroup.get('city').touched) {
                <div class="error">
                    <div class="line"></div>
                    <p class="alert">O campo Cidade é obrigatório!</p>
                </div>
            }

            @if (formGroup.get('city').hasError('minlength') && formGroup.get('city').touched) {
                <div class="error">
                    <div class="line"></div>
                    <p class="alert">O campo Cidade precisa conter pelo menos 3 caracteres</p>
                </div>
            }
            <input type="text" formControlName="city" placeholder="Cidade" class="form-control">
        </div>
    
        <div class="input-button">
            @if(btnSignup) {
                <input type="button" value="Cadastrar" (click)="signup()" class="btn btn-primary" [disabled]="formGroup.invalid">
            } @else {
                <input type="button" value="Alterar" class="btn-toggle"  (click)="togglePeople()" [disabled]="formGroup.invalid">
                <input type="button" value="Excluir" class="btn-remove" (click)="delet()">
                <input type="button" value="Cancelar" class="btn-cancel" (click)="cancel()">
            }
        </div>
    </div>
    
</form>

<table class="table">
    <thead class="table-header">
        <tr class="table-line">
            <th>#</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody class="table-people">
        <tr *ngFor="let p of pessoa; index as indice">
            <td>{{ indice + 1 }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.age }}</td>
            <td>{{ p.city }}</td>
            <td><button (click)="select(indice)">Selecionar</button></td>
        </tr>
    </tbody>
</table>