<p>header</p>
<h1>Olá Mundo!!</h1>
<nav>
    <a routerLink="/">Home</a>
    <a routerLink="/list">Lista</a>
</nav>
<router-outlet></router-outlet>
<p>footer</p>
<!-- <h2>Testando H2</h2>
<p>Alguma coisa</p>

<div>
    <a href="#">Clique Aqui</a>
</div>
<app-first-component></app-first-component>
<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
<app-directiva></app-directiva>
<app-if-reader></app-if-reader>
<app-eventos></app-eventos>
<app-emiter></app-emiter>
<app-list-render></app-list-render>
<app-pipes></app-pipes>
<app-two-way-binding></app-two-way-binding> -->