<!-- <section class="property-binding">
    <article>
        <h3>Interpolação</h3>
        <p>String renderizada com a Interpolação {{ url }}</p>
        <p>Resultado de 1 + 1 é {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor()}}</p>
        <p>Curso angular e gosto de cursos {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <article>
        <img src="{{ urlImgem }}">
        <img [src]="urlImgem">
    </article>
</section> -->

<!-- <section class="style-binding">
    <h3>Style-Binding</h3>
    <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-danger">Error</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-info">Info</option>
    </select>
    <br><br>

    <div class="alert {{ classe.value }}" role="alert">
        <p>Testando</p>
    </div>
    <div class="alert" [class.alert-success]="classe.value == 'alert-success'" role="alert">Sucesso</div>
    <div class="alert" [class.alert-danger]="classe.value == 'alert-danger'" role="alert">Error</div>
    <div class="alert alert-danger" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' " role="alert">
        esse texto so aparece quando o erro for selecionado
    </div>
    <div class="alert" [class.alert-warning]="classe.value == 'alert-warning'" role="alert">Alerta</div>
    <div class="alert" [class.alert-info]="classe.value == 'alert-info'" role="alert">Info</div>
</section> -->

<section class="event-binding">
    <article>
        <h3>Event Binding</h3>
        <div>
            <button class="btn btn-primary" (click)="btnClick()">Me clique</button>
            <p *ngIf="txt">foi clicado</p>
        </div>
    </article>

</section>