.container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* DIV - GRUPO DE TODOS OS INPUTS */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* INPUTS PARA O USUARIOS */

.input-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    outline: none;
}
.input-input input:focus {
    outline: 1px solid #2f5f8f;
}

.input-input input {
    outline: none;
    border-radius: 5px;
    height: 30px;
    border: none;
    border: 1px solid #2f5f8f;
    text-indent: 5px;
    width: 400px;
    box-shadow: 1px 1px 5px rgba(66, 65, 65, 0.2);
}
.input-button {
    text-align: center;
}

.input-button :disabled{
    background-color: #2d80d48a;
    cursor: auto;
    
}

input[type="button"]{
    margin-left: 5px;
    margin-right: 5px;
    background-color: #2f5f8f;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: white;
    cursor: pointer;
}

/* TABELAS  */

.table {
    margin-top: 1rem;
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
}
.table th {
    border: 1px solid #2f5f8f;
    padding: 4px;
    text-align: left;
    box-shadow: 1px 1px 5px rgba(66, 65, 65, 0.2);
    color: #2f5f8f;
}

/* TABELA DE PESSOAS CADASTRAS */
.table td {
    border: 1px solid white;
    background-color: #95bce2;
    padding: 4px;
    text-align: left;
    box-shadow: 1px 1px 5px rgba(66, 65, 65, 0.2);
    color: black;
    font-size: 1em;
}
.table-people td button {
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: #2f5f8f;
    color: white;
    border-radius: 5px;
}

/* MENSAGENS DE ERROS */
.error {
    display: flex;
}
.alert {
    font-size: .8em;
    color: #d11b28;
    font-weight: 600;
    margin-left: .6em;
}
.line {
    background-color: #d11b28;
    width: 4px;
}

.input-button .btn-remove {
    background-color: #d11b28;
}

.input-button .btn-toggle {
    background-color: #28a745;
}

/* ng template */

.noList {
   display: flex;
   justify-content: center;
   margin-top: 10rem;
}

h3 {
    font-weight: 400;
    font-size: 1.5em;
}

.noList span {
    color: #2f5f8f;
    font-weight: 800;
}