footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #003e4f;
    height: 100px;
}
.footer h4 {
    margin-bottom: .1em;
    font-size: 18px;
    color: white;
}
.github-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.github {
    display: flex;
    align-items: center;
    gap: .6em;
    padding: 10px;
}

.github a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.github:hover {
    background-color: #04161b7c;
    border-radius: 10px;
    padding: 10px;
}