<main class="container">
   <header class="navbar">
        <div class="title">
            <a routerLink="/">Alidi Blog</a> 
        </div>
        <nav class="menu">
            <a routerLink="/">Home</a>
            <a routerLink="/postCreate">Postar</a>
            <a routerLink="/profile">Perfil</a>
        </nav>
         <div class="btn-header">
             <button routerLink="/login">Entrar</button>
             <div class="line"></div>
             <button routerLink="/signup">Registre-se</button>
         </div>
   </header>
</main>